.aps_Wiz-container {
  width: 502px;
  height: 665px;
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #EDEDED; }
  .aps_Wiz-container h4 {
    text-align: center; }

.aps_Wiz-datetime {
  display: inline-block; }
  .aps_Wiz-datetime + .aps_Wiz-datetime {
    margin-left: 10px; }

.aps_Wiz-datetime--sm {
  width: 104px; }
